<!DOCTYPE html>
<html ng-app='test'>

<head>
    <meta charset="utf-8" />
    <link rel='stylesheet' , href='/stylesheets/style.css' />
    <link rel='stylesheet' , href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js'></script>
    <script src='/javascripts/test.js'></script>
    </script>
</head>

<body>
    <div ng-view></div>
</body>

</html>